
.about-container{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 4rem 2rem;
  gap: 2rem;
}


  @media screen and (max-width: 975px){

    .about-container{
      height: 100%;
    }

  }

  @media screen and (max-width: 450px){


  }
  

  #stars {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 80px;
    background: transparent;
    box-shadow: 1447px 1516px #FFF , 1080px 1010px #FFF , 1800px 1778px #FFF , 465px 1917px #FFF , 1120px 809px #FFF , 1611px 1589px #FFF , 977px 1030px #FFF , 737px 451px #FFF , 1972px 318px #FFF , 485px 1982px #FFF , 1669px 593px #FFF , 680px 1264px #FFF , 1631px 62px #FFF , 1826px 1204px #FFF , 1805px 749px #FFF , 402px 335px #FFF , 63px 174px #FFF , 1585px 1899px #FFF , 786px 113px #FFF , 322px 1217px #FFF , 1405px 403px #FFF , 1544px 1259px #FFF , 83px 957px #FFF , 571px 414px #FFF , 460px 1076px #FFF , 1100px 395px #FFF , 699px 538px #FFF , 1735px 1732px #FFF , 1755px 1845px #FFF , 892px 1813px #FFF , 1443px 1073px #FFF , 1381px 330px #FFF , 293px 1761px #FFF , 445px 1411px #FFF , 1340px 717px #FFF , 591px 1498px #FFF , 1172px 1699px #FFF , 1476px 1347px #FFF , 655px 528px #FFF , 163px 1179px #FFF , 1883px 1692px #FFF , 1825px 1446px #FFF , 601px 151px #FFF , 253px 911px #FFF , 1117px 1106px #FFF , 1773px 1585px #FFF , 618px 1596px #FFF , 365px 1184px #FFF , 580px 40px #FFF , 1695px 1906px #FFF , 1499px 846px #FFF , 1360px 498px #FFF , 1037px 231px #FFF , 1094px 893px #FFF , 392px 1970px #FFF , 1207px 1070px #FFF , 1992px 912px #FFF , 999px 1573px #FFF , 1822px 983px #FFF , 1717px 28px #FFF , 1060px 1464px #FFF , 164px 222px #FFF , 56px 1411px #FFF , 728px 720px #FFF , 50px 1814px #FFF , 1890px 1710px #FFF , 1574px 1067px #FFF , 709px 94px #FFF , 1539px 1082px #FFF , 1311px 1605px #FFF , 1830px 1696px #FFF , 716px 1310px #FFF , 271px 1212px #FFF , 1076px 190px #FFF , 1225px 921px #FFF , 370px 48px #FFF , 284px 1233px #FFF , 156px 739px #FFF , 324px 130px #FFF , 1543px 1946px #FFF , 1515px 1009px #FFF , 286px 1366px #FFF , 1165px 965px #FFF , 1642px 2px #FFF , 1311px 963px #FFF , 1013px 182px #FFF , 855px 977px #FFF , 1256px 1108px #FFF , 290px 833px #FFF , 217px 687px #FFF , 1479px 24px #FFF , 1461px 1088px #FFF , 985px 508px #FFF , 205px 1367px #FFF , 1404px 1809px #FFF , 616px 1099px #FFF , 256px 1795px #FFF , 13px 521px #FFF , 851px 88px #FFF , 256px 16px #FFF , 578px 623px #FFF , 541px 1476px #FFF , 504px 1911px #FFF , 1622px 1440px #FFF , 931px 1479px #FFF , 112px 1591px #FFF , 888px 1846px #FFF , 210px 1470px #FFF , 1992px 1480px #FFF , 571px 1610px #FFF , 851px 365px #FFF , 1307px 1111px #FFF , 1365px 1351px #FFF , 1868px 1112px #FFF , 442px 1843px #FFF , 1624px 1177px #FFF , 1870px 951px #FFF , 656px 1252px #FFF , 835px 535px #FFF , 1705px 202px #FFF , 73px 1887px #FFF , 87px 1820px #FFF , 1778px 244px #FFF , 1205px 1221px #FFF , 1936px 161px #FFF , 496px 903px #FFF , 910px 1750px #FFF , 252px 779px #FFF , 1635px 206px #FFF , 1058px 1733px #FFF , 1720px 1458px #FFF , 967px 1995px #FFF , 1328px 1021px #FFF , 1076px 1623px #FFF , 224px 1763px #FFF , 1291px 1355px #FFF , 654px 1655px #FFF , 47px 1378px #FFF , 497px 463px #FFF , 1144px 640px #FFF , 1948px 1531px #FFF , 1389px 1484px #FFF , 248px 838px #FFF , 655px 1125px #FFF , 1064px 1781px #FFF , 212px 1876px #FFF , 780px 888px #FFF , 952px 762px #FFF , 1159px 810px #FFF , 1972px 1041px #FFF , 405px 152px #FFF , 330px 947px #FFF , 1853px 1883px #FFF , 1696px 1891px #FFF , 711px 638px #FFF , 1246px 223px #FFF , 521px 1017px #FFF , 888px 1774px #FFF , 232px 1284px #FFF , 269px 364px #FFF , 1582px 1744px #FFF , 633px 1217px #FFF , 551px 1517px #FFF , 493px 1202px #FFF , 789px 1190px #FFF , 1552px 1378px #FFF , 119px 604px #FFF , 1572px 1677px #FFF , 970px 1835px #FFF , 571px 1609px #FFF , 297px 1507px #FFF , 845px 342px #FFF , 912px 1618px #FFF , 1689px 1257px #FFF , 201px 1319px #FFF , 561px 968px #FFF , 346px 1095px #FFF , 1636px 863px #FFF , 1030px 143px #FFF , 1558px 1050px #FFF , 764px 795px #FFF , 519px 1736px #FFF , 947px 1475px #FFF , 341px 1740px #FFF , 964px 1822px #FFF , 167px 100px #FFF , 713px 148px #FFF , 530px 406px #FFF , 70px 107px #FFF , 612px 1089px #FFF , 655px 1325px #FFF , 1872px 1207px #FFF , 236px 494px #FFF , 1844px 176px #FFF , 1363px 1426px #FFF , 1530px 298px #FFF , 35px 501px #FFF , 1282px 1611px #FFF , 599px 275px #FFF , 584px 884px #FFF , 1654px 1624px #FFF , 129px 1678px #FFF , 798px 1214px #FFF , 1540px 293px #FFF , 1060px 1109px #FFF , 1789px 479px #FFF , 703px 1656px #FFF , 396px 1452px #FFF , 477px 1357px #FFF , 814px 1914px #FFF , 957px 1890px #FFF , 304px 1380px #FFF , 1037px 414px #FFF , 1900px 299px #FFF , 887px 1176px #FFF , 1742px 1581px #FFF , 1485px 1776px #FFF , 1260px 1255px #FFF , 1174px 1474px #FFF , 541px 270px #FFF , 565px 737px #FFF , 1081px 1662px #FFF , 205px 685px #FFF , 602px 677px #FFF , 1701px 1829px #FFF , 1977px 277px #FFF , 306px 1674px #FFF , 1861px 1453px #FFF , 14px 323px #FFF , 602px 969px #FFF , 1589px 1425px #FFF , 1154px 658px #FFF , 559px 1242px #FFF , 1150px 40px #FFF , 1461px 1307px #FFF , 1817px 1402px #FFF , 738px 409px #FFF , 508px 389px #FFF , 764px 1035px #FFF , 423px 686px #FFF , 1786px 1533px #FFF , 413px 1931px #FFF , 1915px 1006px #FFF , 988px 595px #FFF , 1837px 1076px #FFF , 321px 1902px #FFF , 1781px 933px #FFF , 54px 155px #FFF , 653px 754px #FFF , 1737px 599px #FFF , 1879px 1295px #FFF , 97px 1745px #FFF , 1068px 1206px #FFF , 1037px 1922px #FFF , 1741px 302px #FFF , 534px 1059px #FFF , 1865px 1246px #FFF , 1826px 1162px #FFF , 415px 1259px #FFF , 477px 988px #FFF , 1029px 370px #FFF , 1150px 1549px #FFF , 1451px 120px #FFF , 1697px 1633px #FFF , 683px 1303px #FFF , 151px 548px #FFF , 1579px 1296px #FFF , 541px 341px #FFF , 1967px 384px #FFF , 497px 1119px #FFF , 334px 1085px #FFF , 1904px 1848px #FFF , 1709px 422px #FFF , 1699px 985px #FFF , 1491px 426px #FFF , 182px 249px #FFF , 168px 1479px #FFF , 1495px 30px #FFF , 1650px 1634px #FFF , 701px 1026px #FFF , 1377px 1031px #FFF , 650px 1108px #FFF , 63px 276px #FFF , 1749px 1325px #FFF , 673px 1850px #FFF , 1301px 986px #FFF , 324px 306px #FFF , 165px 894px #FFF , 1422px 87px #FFF , 1037px 109px #FFF , 1959px 1359px #FFF , 1889px 1076px #FFF , 1136px 1143px #FFF , 1856px 5px #FFF , 94px 1160px #FFF , 487px 361px #FFF , 1835px 1090px #FFF , 1727px 270px #FFF , 647px 177px #FFF , 460px 719px #FFF , 91px 435px #FFF , 1962px 1843px #FFF , 201px 1085px #FFF , 742px 693px #FFF , 1102px 137px #FFF , 353px 1078px #FFF , 1995px 941px #FFF , 1535px 1694px #FFF , 431px 1002px #FFF , 1238px 421px #FFF , 955px 720px #FFF , 1973px 707px #FFF , 62px 729px #FFF , 1933px 1106px #FFF , 1078px 1371px #FFF , 1875px 1976px #FFF , 794px 839px #FFF , 1315px 422px #FFF , 1699px 295px #FFF , 1487px 904px #FFF , 1917px 1110px #FFF , 1820px 764px #FFF , 1903px 1074px #FFF , 1031px 1727px #FFF , 198px 1452px #FFF , 1105px 694px #FFF , 833px 856px #FFF , 333px 1293px #FFF , 996px 722px #FFF , 271px 589px #FFF , 1842px 1295px #FFF , 1787px 142px #FFF , 838px 1088px #FFF , 1608px 34px #FFF , 90px 610px #FFF , 1513px 465px #FFF , 888px 1816px #FFF , 1267px 1382px #FFF , 685px 1868px #FFF , 1922px 1893px #FFF , 1792px 1357px #FFF , 320px 1816px #FFF , 598px 280px #FFF , 663px 1869px #FFF , 1796px 956px #FFF , 1285px 1913px #FFF , 973px 1610px #FFF , 877px 1666px #FFF , 648px 1442px #FFF , 247px 953px #FFF , 1923px 1203px #FFF , 137px 1475px #FFF , 1965px 526px #FFF , 1489px 1921px #FFF , 1703px 725px #FFF , 1436px 904px #FFF , 1728px 308px #FFF , 147px 418px #FFF , 343px 1547px #FFF , 1188px 663px #FFF , 484px 1709px #FFF , 1565px 783px #FFF , 448px 50px #FFF , 1606px 1830px #FFF , 1994px 1797px #FFF , 168px 1990px #FFF , 1331px 1846px #FFF , 1659px 296px #FFF , 517px 1827px #FFF , 1433px 1239px #FFF , 474px 1547px #FFF , 97px 409px #FFF , 900px 132px #FFF , 731px 1599px #FFF , 1417px 707px #FFF , 1395px 1774px #FFF , 1397px 997px #FFF , 1989px 788px #FFF , 1983px 778px #FFF , 484px 1981px #FFF , 887px 1206px #FFF , 1965px 1624px #FFF , 477px 79px #FFF , 783px 1332px #FFF , 58px 1058px #FFF , 280px 732px #FFF , 1235px 642px #FFF , 256px 1524px #FFF , 796px 1299px #FFF , 311px 1613px #FFF , 891px 1447px #FFF , 902px 1844px #FFF , 851px 1906px #FFF , 1454px 2000px #FFF , 1613px 1931px #FFF , 1735px 877px #FFF , 633px 544px #FFF , 482px 1007px #FFF , 1825px 1555px #FFF , 1555px 465px #FFF , 64px 1420px #FFF , 449px 290px #FFF , 1627px 231px #FFF , 1411px 1691px #FFF , 428px 1994px #FFF , 1500px 957px #FFF , 1939px 642px #FFF , 1112px 1811px #FFF , 687px 1099px #FFF , 1376px 840px #FFF , 146px 1347px #FFF , 1757px 46px #FFF , 692px 1243px #FFF , 1191px 1231px #FFF , 368px 787px #FFF , 1726px 349px #FFF , 1809px 1412px #FFF , 1865px 1354px #FFF , 1521px 882px #FFF , 779px 675px #FFF , 1479px 500px #FFF , 1021px 1900px #FFF , 655px 982px #FFF , 205px 434px #FFF , 1270px 1489px #FFF , 1272px 1206px #FFF , 1599px 1536px #FFF , 594px 476px #FFF , 1330px 784px #FFF , 1488px 610px #FFF , 1728px 649px #FFF , 576px 530px #FFF , 1270px 125px #FFF , 1494px 1125px #FFF , 82px 13px #FFF , 693px 443px #FFF , 1135px 1947px #FFF , 1772px 934px #FFF , 1787px 928px #FFF , 1406px 429px #FFF , 882px 120px #FFF , 1464px 207px #FFF , 1390px 1997px #FFF , 1485px 612px #FFF , 1097px 223px #FFF , 1857px 677px #FFF , 157px 1877px #FFF , 228px 1268px #FFF , 563px 701px #FFF , 12px 45px #FFF , 482px 802px #FFF , 299px 17px #FFF , 238px 1082px #FFF , 859px 1219px #FFF , 156px 1412px #FFF , 1328px 325px #FFF , 1578px 1032px #FFF , 474px 789px #FFF , 108px 391px #FFF , 1561px 1444px #FFF , 774px 773px #FFF , 1944px 1823px #FFF , 1540px 1298px #FFF , 1539px 838px #FFF , 1833px 666px #FFF , 911px 1891px #FFF , 1567px 1667px #FFF , 1515px 1539px #FFF , 1448px 732px #FFF , 674px 1099px #FFF , 1922px 1721px #FFF , 222px 671px #FFF , 1601px 1770px #FFF , 1127px 280px #FFF , 513px 1648px #FFF , 329px 386px #FFF , 1642px 152px #FFF , 559px 1533px #FFF , 218px 179px #FFF , 42px 1188px #FFF , 268px 86px #FFF , 1017px 1597px #FFF , 1560px 229px #FFF , 1226px 1249px #FFF , 1106px 1114px #FFF , 547px 957px #FFF , 1794px 28px #FFF , 204px 1343px #FFF , 358px 311px #FFF , 1407px 1225px #FFF , 1696px 1710px #FFF , 750px 772px #FFF , 1634px 146px #FFF , 1442px 208px #FFF , 1032px 897px #FFF , 900px 1092px #FFF , 368px 507px #FFF , 882px 1643px #FFF , 579px 842px #FFF , 1098px 1967px #FFF , 58px 1245px #FFF , 30px 1345px #FFF , 907px 751px #FFF , 1657px 1593px #FFF , 1319px 773px #FFF , 867px 1351px #FFF , 1612px 1329px #FFF , 997px 994px #FFF , 1247px 581px #FFF , 721px 542px #FFF , 1684px 1478px #FFF , 598px 1746px #FFF , 337px 830px #FFF , 1408px 909px #FFF , 820px 1095px #FFF , 579px 1930px #FFF , 265px 786px #FFF , 1493px 1550px #FFF , 1086px 918px #FFF , 84px 1060px #FFF , 1750px 1782px #FFF , 900px 489px #FFF , 353px 1128px #FFF , 383px 855px #FFF , 116px 47px #FFF , 791px 237px #FFF , 986px 489px #FFF , 1027px 944px #FFF , 1737px 1577px #FFF , 525px 781px #FFF , 1789px 1234px #FFF , 241px 307px #FFF , 158px 1371px #FFF , 504px 526px #FFF , 940px 562px #FFF , 1678px 66px #FFF , 555px 135px #FFF , 1547px 1112px #FFF , 1664px 1461px #FFF , 1274px 475px #FFF , 791px 843px #FFF , 1042px 791px #FFF , 1456px 79px #FFF , 209px 1752px #FFF , 835px 288px #FFF , 1440px 1973px #FFF , 1069px 1743px #FFF , 264px 607px #FFF , 1690px 1762px #FFF , 924px 1074px #FFF , 695px 350px #FFF , 821px 405px #FFF , 1394px 673px #FFF , 186px 539px #FFF , 340px 1432px #FFF , 1782px 764px #FFF , 1991px 1220px #FFF , 334px 944px #FFF , 966px 1464px #FFF , 91px 283px #FFF , 521px 1927px #FFF , 1965px 355px #FFF , 146px 1689px #FFF , 1568px 1157px #FFF , 436px 1760px #FFF , 901px 1193px #FFF , 807px 948px #FFF , 267px 691px #FFF , 1156px 1723px #FFF , 831px 175px #FFF , 1141px 1239px #FFF , 1719px 347px #FFF , 1398px 43px #FFF , 1014px 1790px #FFF , 856px 1424px #FFF , 1228px 394px #FFF , 1457px 479px #FFF , 743px 916px #FFF , 275px 1695px #FFF , 93px 65px #FFF , 1580px 404px #FFF , 718px 13px #FFF , 911px 1651px #FFF , 1303px 703px #FFF , 192px 1726px #FFF , 136px 1682px #FFF , 143px 1073px #FFF , 1822px 1392px #FFF , 86px 874px #FFF , 423px 935px #FFF , 95px 67px #FFF , 95px 1404px #FFF , 1260px 194px #FFF , 1989px 56px #FFF , 1508px 1274px #FFF , 1745px 1191px #FFF , 1582px 476px #FFF , 333px 1996px #FFF , 197px 1316px #FFF , 1996px 1838px #FFF , 84px 1582px #FFF , 1881px 1262px #FFF , 1937px 1340px #FFF , 420px 1585px #FFF , 1876px 912px #FFF , 1654px 88px #FFF , 1815px 182px #FFF , 455px 1910px #FFF , 688px 1741px #FFF , 926px 560px #FFF , 1865px 1786px #FFF , 1771px 826px #FFF , 1448px 193px #FFF , 554px 1005px #FFF , 455px 354px #FFF , 1540px 628px #FFF , 1800px 956px #FFF , 1210px 1470px #FFF , 1897px 1518px #FFF , 787px 919px #FFF , 1670px 847px #FFF , 1824px 543px #FFF , 592px 1269px #FFF , 1003px 1638px #FFF , 1175px 1962px #FFF , 223px 645px #FFF , 1908px 1801px #FFF , 249px 51px #FFF , 611px 7px #FFF , 1439px 1427px #FFF , 1637px 713px #FFF , 1454px 220px #FFF , 975px 596px #FFF , 8px 25px #FFF , 1627px 1170px #FFF , 506px 1448px #FFF , 1509px 593px #FFF , 1611px 1888px #FFF , 1881px 1985px #FFF , 1406px 1231px #FFF , 901px 456px #FFF , 1215px 1894px #FFF , 1608px 1641px #FFF , 517px 1235px #FFF , 1314px 437px #FFF , 1465px 1546px #FFF , 82px 215px #FFF , 720px 1543px #FFF , 1676px 306px #FFF , 1055px 1627px #FFF , 1426px 1368px #FFF , 619px 1997px #FFF , 1975px 70px #FFF , 1045px 129px #FFF , 350px 359px #FFF , 829px 473px #FFF , 1436px 1654px #FFF , 810px 1255px #FFF , 1988px 1295px #FFF , 1935px 1624px #FFF , 947px 1486px #FFF , 1763px 1670px #FFF , 1710px 963px #FFF , 1541px 445px #FFF , 150px 1892px #FFF , 512px 883px #FFF , 610px 838px #FFF , 671px 910px #FFF , 27px 696px #FFF , 455px 1985px #FFF , 184px 665px #FFF , 831px 1525px #FFF , 637px 903px #FFF , 1895px 1328px #FFF , 767px 967px #FFF , 1916px 729px #FFF , 331px 174px #FFF , 1426px 713px #FFF , 734px 372px #FFF , 412px 1143px #FFF , 616px 516px #FFF , 115px 972px #FFF , 810px 1378px #FFF , 808px 502px #FFF , 174px 152px #FFF , 1204px 1523px #FFF , 1643px 1488px #FFF , 97px 1999px #FFF , 1266px 122px #FFF , 1688px 1085px #FFF , 1278px 711px #FFF , 1718px 1035px #FFF , 453px 285px #FFF , 1592px 977px #FFF , 1438px 983px #FFF , 233px 258px #FFF , 402px 78px #FFF , 1658px 42px #FFF , 1998px 1112px #FFF , 1941px 724px #FFF;
    animation: animStar 50s linear infinite; }
    #stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1447px 1516px #FFF , 1080px 1010px #FFF , 1800px 1778px #FFF , 465px 1917px #FFF , 1120px 809px #FFF , 1611px 1589px #FFF , 977px 1030px #FFF , 737px 451px #FFF , 1972px 318px #FFF , 485px 1982px #FFF , 1669px 593px #FFF , 680px 1264px #FFF , 1631px 62px #FFF , 1826px 1204px #FFF , 1805px 749px #FFF , 402px 335px #FFF , 63px 174px #FFF , 1585px 1899px #FFF , 786px 113px #FFF , 322px 1217px #FFF , 1405px 403px #FFF , 1544px 1259px #FFF , 83px 957px #FFF , 571px 414px #FFF , 460px 1076px #FFF , 1100px 395px #FFF , 699px 538px #FFF , 1735px 1732px #FFF , 1755px 1845px #FFF , 892px 1813px #FFF , 1443px 1073px #FFF , 1381px 330px #FFF , 293px 1761px #FFF , 445px 1411px #FFF , 1340px 717px #FFF , 591px 1498px #FFF , 1172px 1699px #FFF , 1476px 1347px #FFF , 655px 528px #FFF , 163px 1179px #FFF , 1883px 1692px #FFF , 1825px 1446px #FFF , 601px 151px #FFF , 253px 911px #FFF , 1117px 1106px #FFF , 1773px 1585px #FFF , 618px 1596px #FFF , 365px 1184px #FFF , 580px 40px #FFF , 1695px 1906px #FFF , 1499px 846px #FFF , 1360px 498px #FFF , 1037px 231px #FFF , 1094px 893px #FFF , 392px 1970px #FFF , 1207px 1070px #FFF , 1992px 912px #FFF , 999px 1573px #FFF , 1822px 983px #FFF , 1717px 28px #FFF , 1060px 1464px #FFF , 164px 222px #FFF , 56px 1411px #FFF , 728px 720px #FFF , 50px 1814px #FFF , 1890px 1710px #FFF , 1574px 1067px #FFF , 709px 94px #FFF , 1539px 1082px #FFF , 1311px 1605px #FFF , 1830px 1696px #FFF , 716px 1310px #FFF , 271px 1212px #FFF , 1076px 190px #FFF , 1225px 921px #FFF , 370px 48px #FFF , 284px 1233px #FFF , 156px 739px #FFF , 324px 130px #FFF , 1543px 1946px #FFF , 1515px 1009px #FFF , 286px 1366px #FFF , 1165px 965px #FFF , 1642px 2px #FFF , 1311px 963px #FFF , 1013px 182px #FFF , 855px 977px #FFF , 1256px 1108px #FFF , 290px 833px #FFF , 217px 687px #FFF , 1479px 24px #FFF , 1461px 1088px #FFF , 985px 508px #FFF , 205px 1367px #FFF , 1404px 1809px #FFF , 616px 1099px #FFF , 256px 1795px #FFF , 13px 521px #FFF , 851px 88px #FFF , 256px 16px #FFF , 578px 623px #FFF , 541px 1476px #FFF , 504px 1911px #FFF , 1622px 1440px #FFF , 931px 1479px #FFF , 112px 1591px #FFF , 888px 1846px #FFF , 210px 1470px #FFF , 1992px 1480px #FFF , 571px 1610px #FFF , 851px 365px #FFF , 1307px 1111px #FFF , 1365px 1351px #FFF , 1868px 1112px #FFF , 442px 1843px #FFF , 1624px 1177px #FFF , 1870px 951px #FFF , 656px 1252px #FFF , 835px 535px #FFF , 1705px 202px #FFF , 73px 1887px #FFF , 87px 1820px #FFF , 1778px 244px #FFF , 1205px 1221px #FFF , 1936px 161px #FFF , 496px 903px #FFF , 910px 1750px #FFF , 252px 779px #FFF , 1635px 206px #FFF , 1058px 1733px #FFF , 1720px 1458px #FFF , 967px 1995px #FFF , 1328px 1021px #FFF , 1076px 1623px #FFF , 224px 1763px #FFF , 1291px 1355px #FFF , 654px 1655px #FFF , 47px 1378px #FFF , 497px 463px #FFF , 1144px 640px #FFF , 1948px 1531px #FFF , 1389px 1484px #FFF , 248px 838px #FFF , 655px 1125px #FFF , 1064px 1781px #FFF , 212px 1876px #FFF , 780px 888px #FFF , 952px 762px #FFF , 1159px 810px #FFF , 1972px 1041px #FFF , 405px 152px #FFF , 330px 947px #FFF , 1853px 1883px #FFF , 1696px 1891px #FFF , 711px 638px #FFF , 1246px 223px #FFF , 521px 1017px #FFF , 888px 1774px #FFF , 232px 1284px #FFF , 269px 364px #FFF , 1582px 1744px #FFF , 633px 1217px #FFF , 551px 1517px #FFF , 493px 1202px #FFF , 789px 1190px #FFF , 1552px 1378px #FFF , 119px 604px #FFF , 1572px 1677px #FFF , 970px 1835px #FFF , 571px 1609px #FFF , 297px 1507px #FFF , 845px 342px #FFF , 912px 1618px #FFF , 1689px 1257px #FFF , 201px 1319px #FFF , 561px 968px #FFF , 346px 1095px #FFF , 1636px 863px #FFF , 1030px 143px #FFF , 1558px 1050px #FFF , 764px 795px #FFF , 519px 1736px #FFF , 947px 1475px #FFF , 341px 1740px #FFF , 964px 1822px #FFF , 167px 100px #FFF , 713px 148px #FFF , 530px 406px #FFF , 70px 107px #FFF , 612px 1089px #FFF , 655px 1325px #FFF , 1872px 1207px #FFF , 236px 494px #FFF , 1844px 176px #FFF , 1363px 1426px #FFF , 1530px 298px #FFF , 35px 501px #FFF , 1282px 1611px #FFF , 599px 275px #FFF , 584px 884px #FFF , 1654px 1624px #FFF , 129px 1678px #FFF , 798px 1214px #FFF , 1540px 293px #FFF , 1060px 1109px #FFF , 1789px 479px #FFF , 703px 1656px #FFF , 396px 1452px #FFF , 477px 1357px #FFF , 814px 1914px #FFF , 957px 1890px #FFF , 304px 1380px #FFF , 1037px 414px #FFF , 1900px 299px #FFF , 887px 1176px #FFF , 1742px 1581px #FFF , 1485px 1776px #FFF , 1260px 1255px #FFF , 1174px 1474px #FFF , 541px 270px #FFF , 565px 737px #FFF , 1081px 1662px #FFF , 205px 685px #FFF , 602px 677px #FFF , 1701px 1829px #FFF , 1977px 277px #FFF , 306px 1674px #FFF , 1861px 1453px #FFF , 14px 323px #FFF , 602px 969px #FFF , 1589px 1425px #FFF , 1154px 658px #FFF , 559px 1242px #FFF , 1150px 40px #FFF , 1461px 1307px #FFF , 1817px 1402px #FFF , 738px 409px #FFF , 508px 389px #FFF , 764px 1035px #FFF , 423px 686px #FFF , 1786px 1533px #FFF , 413px 1931px #FFF , 1915px 1006px #FFF , 988px 595px #FFF , 1837px 1076px #FFF , 321px 1902px #FFF , 1781px 933px #FFF , 54px 155px #FFF , 653px 754px #FFF , 1737px 599px #FFF , 1879px 1295px #FFF , 97px 1745px #FFF , 1068px 1206px #FFF , 1037px 1922px #FFF , 1741px 302px #FFF , 534px 1059px #FFF , 1865px 1246px #FFF , 1826px 1162px #FFF , 415px 1259px #FFF , 477px 988px #FFF , 1029px 370px #FFF , 1150px 1549px #FFF , 1451px 120px #FFF , 1697px 1633px #FFF , 683px 1303px #FFF , 151px 548px #FFF , 1579px 1296px #FFF , 541px 341px #FFF , 1967px 384px #FFF , 497px 1119px #FFF , 334px 1085px #FFF , 1904px 1848px #FFF , 1709px 422px #FFF , 1699px 985px #FFF , 1491px 426px #FFF , 182px 249px #FFF , 168px 1479px #FFF , 1495px 30px #FFF , 1650px 1634px #FFF , 701px 1026px #FFF , 1377px 1031px #FFF , 650px 1108px #FFF , 63px 276px #FFF , 1749px 1325px #FFF , 673px 1850px #FFF , 1301px 986px #FFF , 324px 306px #FFF , 165px 894px #FFF , 1422px 87px #FFF , 1037px 109px #FFF , 1959px 1359px #FFF , 1889px 1076px #FFF , 1136px 1143px #FFF , 1856px 5px #FFF , 94px 1160px #FFF , 487px 361px #FFF , 1835px 1090px #FFF , 1727px 270px #FFF , 647px 177px #FFF , 460px 719px #FFF , 91px 435px #FFF , 1962px 1843px #FFF , 201px 1085px #FFF , 742px 693px #FFF , 1102px 137px #FFF , 353px 1078px #FFF , 1995px 941px #FFF , 1535px 1694px #FFF , 431px 1002px #FFF , 1238px 421px #FFF , 955px 720px #FFF , 1973px 707px #FFF , 62px 729px #FFF , 1933px 1106px #FFF , 1078px 1371px #FFF , 1875px 1976px #FFF , 794px 839px #FFF , 1315px 422px #FFF , 1699px 295px #FFF , 1487px 904px #FFF , 1917px 1110px #FFF , 1820px 764px #FFF , 1903px 1074px #FFF , 1031px 1727px #FFF , 198px 1452px #FFF , 1105px 694px #FFF , 833px 856px #FFF , 333px 1293px #FFF , 996px 722px #FFF , 271px 589px #FFF , 1842px 1295px #FFF , 1787px 142px #FFF , 838px 1088px #FFF , 1608px 34px #FFF , 90px 610px #FFF , 1513px 465px #FFF , 888px 1816px #FFF , 1267px 1382px #FFF , 685px 1868px #FFF , 1922px 1893px #FFF , 1792px 1357px #FFF , 320px 1816px #FFF , 598px 280px #FFF , 663px 1869px #FFF , 1796px 956px #FFF , 1285px 1913px #FFF , 973px 1610px #FFF , 877px 1666px #FFF , 648px 1442px #FFF , 247px 953px #FFF , 1923px 1203px #FFF , 137px 1475px #FFF , 1965px 526px #FFF , 1489px 1921px #FFF , 1703px 725px #FFF , 1436px 904px #FFF , 1728px 308px #FFF , 147px 418px #FFF , 343px 1547px #FFF , 1188px 663px #FFF , 484px 1709px #FFF , 1565px 783px #FFF , 448px 50px #FFF , 1606px 1830px #FFF , 1994px 1797px #FFF , 168px 1990px #FFF , 1331px 1846px #FFF , 1659px 296px #FFF , 517px 1827px #FFF , 1433px 1239px #FFF , 474px 1547px #FFF , 97px 409px #FFF , 900px 132px #FFF , 731px 1599px #FFF , 1417px 707px #FFF , 1395px 1774px #FFF , 1397px 997px #FFF , 1989px 788px #FFF , 1983px 778px #FFF , 484px 1981px #FFF , 887px 1206px #FFF , 1965px 1624px #FFF , 477px 79px #FFF , 783px 1332px #FFF , 58px 1058px #FFF , 280px 732px #FFF , 1235px 642px #FFF , 256px 1524px #FFF , 796px 1299px #FFF , 311px 1613px #FFF , 891px 1447px #FFF , 902px 1844px #FFF , 851px 1906px #FFF , 1454px 2000px #FFF , 1613px 1931px #FFF , 1735px 877px #FFF , 633px 544px #FFF , 482px 1007px #FFF , 1825px 1555px #FFF , 1555px 465px #FFF , 64px 1420px #FFF , 449px 290px #FFF , 1627px 231px #FFF , 1411px 1691px #FFF , 428px 1994px #FFF , 1500px 957px #FFF , 1939px 642px #FFF , 1112px 1811px #FFF , 687px 1099px #FFF , 1376px 840px #FFF , 146px 1347px #FFF , 1757px 46px #FFF , 692px 1243px #FFF , 1191px 1231px #FFF , 368px 787px #FFF , 1726px 349px #FFF , 1809px 1412px #FFF , 1865px 1354px #FFF , 1521px 882px #FFF , 779px 675px #FFF , 1479px 500px #FFF , 1021px 1900px #FFF , 655px 982px #FFF , 205px 434px #FFF , 1270px 1489px #FFF , 1272px 1206px #FFF , 1599px 1536px #FFF , 594px 476px #FFF , 1330px 784px #FFF , 1488px 610px #FFF , 1728px 649px #FFF , 576px 530px #FFF , 1270px 125px #FFF , 1494px 1125px #FFF , 82px 13px #FFF , 693px 443px #FFF , 1135px 1947px #FFF , 1772px 934px #FFF , 1787px 928px #FFF , 1406px 429px #FFF , 882px 120px #FFF , 1464px 207px #FFF , 1390px 1997px #FFF , 1485px 612px #FFF , 1097px 223px #FFF , 1857px 677px #FFF , 157px 1877px #FFF , 228px 1268px #FFF , 563px 701px #FFF , 12px 45px #FFF , 482px 802px #FFF , 299px 17px #FFF , 238px 1082px #FFF , 859px 1219px #FFF , 156px 1412px #FFF , 1328px 325px #FFF , 1578px 1032px #FFF , 474px 789px #FFF , 108px 391px #FFF , 1561px 1444px #FFF , 774px 773px #FFF , 1944px 1823px #FFF , 1540px 1298px #FFF , 1539px 838px #FFF , 1833px 666px #FFF , 911px 1891px #FFF , 1567px 1667px #FFF , 1515px 1539px #FFF , 1448px 732px #FFF , 674px 1099px #FFF , 1922px 1721px #FFF , 222px 671px #FFF , 1601px 1770px #FFF , 1127px 280px #FFF , 513px 1648px #FFF , 329px 386px #FFF , 1642px 152px #FFF , 559px 1533px #FFF , 218px 179px #FFF , 42px 1188px #FFF , 268px 86px #FFF , 1017px 1597px #FFF , 1560px 229px #FFF , 1226px 1249px #FFF , 1106px 1114px #FFF , 547px 957px #FFF , 1794px 28px #FFF , 204px 1343px #FFF , 358px 311px #FFF , 1407px 1225px #FFF , 1696px 1710px #FFF , 750px 772px #FFF , 1634px 146px #FFF , 1442px 208px #FFF , 1032px 897px #FFF , 900px 1092px #FFF , 368px 507px #FFF , 882px 1643px #FFF , 579px 842px #FFF , 1098px 1967px #FFF , 58px 1245px #FFF , 30px 1345px #FFF , 907px 751px #FFF , 1657px 1593px #FFF , 1319px 773px #FFF , 867px 1351px #FFF , 1612px 1329px #FFF , 997px 994px #FFF , 1247px 581px #FFF , 721px 542px #FFF , 1684px 1478px #FFF , 598px 1746px #FFF , 337px 830px #FFF , 1408px 909px #FFF , 820px 1095px #FFF , 579px 1930px #FFF , 265px 786px #FFF , 1493px 1550px #FFF , 1086px 918px #FFF , 84px 1060px #FFF , 1750px 1782px #FFF , 900px 489px #FFF , 353px 1128px #FFF , 383px 855px #FFF , 116px 47px #FFF , 791px 237px #FFF , 986px 489px #FFF , 1027px 944px #FFF , 1737px 1577px #FFF , 525px 781px #FFF , 1789px 1234px #FFF , 241px 307px #FFF , 158px 1371px #FFF , 504px 526px #FFF , 940px 562px #FFF , 1678px 66px #FFF , 555px 135px #FFF , 1547px 1112px #FFF , 1664px 1461px #FFF , 1274px 475px #FFF , 791px 843px #FFF , 1042px 791px #FFF , 1456px 79px #FFF , 209px 1752px #FFF , 835px 288px #FFF , 1440px 1973px #FFF , 1069px 1743px #FFF , 264px 607px #FFF , 1690px 1762px #FFF , 924px 1074px #FFF , 695px 350px #FFF , 821px 405px #FFF , 1394px 673px #FFF , 186px 539px #FFF , 340px 1432px #FFF , 1782px 764px #FFF , 1991px 1220px #FFF , 334px 944px #FFF , 966px 1464px #FFF , 91px 283px #FFF , 521px 1927px #FFF , 1965px 355px #FFF , 146px 1689px #FFF , 1568px 1157px #FFF , 436px 1760px #FFF , 901px 1193px #FFF , 807px 948px #FFF , 267px 691px #FFF , 1156px 1723px #FFF , 831px 175px #FFF , 1141px 1239px #FFF , 1719px 347px #FFF , 1398px 43px #FFF , 1014px 1790px #FFF , 856px 1424px #FFF , 1228px 394px #FFF , 1457px 479px #FFF , 743px 916px #FFF , 275px 1695px #FFF , 93px 65px #FFF , 1580px 404px #FFF , 718px 13px #FFF , 911px 1651px #FFF , 1303px 703px #FFF , 192px 1726px #FFF , 136px 1682px #FFF , 143px 1073px #FFF , 1822px 1392px #FFF , 86px 874px #FFF , 423px 935px #FFF , 95px 67px #FFF , 95px 1404px #FFF , 1260px 194px #FFF , 1989px 56px #FFF , 1508px 1274px #FFF , 1745px 1191px #FFF , 1582px 476px #FFF , 333px 1996px #FFF , 197px 1316px #FFF , 1996px 1838px #FFF , 84px 1582px #FFF , 1881px 1262px #FFF , 1937px 1340px #FFF , 420px 1585px #FFF , 1876px 912px #FFF , 1654px 88px #FFF , 1815px 182px #FFF , 455px 1910px #FFF , 688px 1741px #FFF , 926px 560px #FFF , 1865px 1786px #FFF , 1771px 826px #FFF , 1448px 193px #FFF , 554px 1005px #FFF , 455px 354px #FFF , 1540px 628px #FFF , 1800px 956px #FFF , 1210px 1470px #FFF , 1897px 1518px #FFF , 787px 919px #FFF , 1670px 847px #FFF , 1824px 543px #FFF , 592px 1269px #FFF , 1003px 1638px #FFF , 1175px 1962px #FFF , 223px 645px #FFF , 1908px 1801px #FFF , 249px 51px #FFF , 611px 7px #FFF , 1439px 1427px #FFF , 1637px 713px #FFF , 1454px 220px #FFF , 975px 596px #FFF , 8px 25px #FFF , 1627px 1170px #FFF , 506px 1448px #FFF , 1509px 593px #FFF , 1611px 1888px #FFF , 1881px 1985px #FFF , 1406px 1231px #FFF , 901px 456px #FFF , 1215px 1894px #FFF , 1608px 1641px #FFF , 517px 1235px #FFF , 1314px 437px #FFF , 1465px 1546px #FFF , 82px 215px #FFF , 720px 1543px #FFF , 1676px 306px #FFF , 1055px 1627px #FFF , 1426px 1368px #FFF , 619px 1997px #FFF , 1975px 70px #FFF , 1045px 129px #FFF , 350px 359px #FFF , 829px 473px #FFF , 1436px 1654px #FFF , 810px 1255px #FFF , 1988px 1295px #FFF , 1935px 1624px #FFF , 947px 1486px #FFF , 1763px 1670px #FFF , 1710px 963px #FFF , 1541px 445px #FFF , 150px 1892px #FFF , 512px 883px #FFF , 610px 838px #FFF , 671px 910px #FFF , 27px 696px #FFF , 455px 1985px #FFF , 184px 665px #FFF , 831px 1525px #FFF , 637px 903px #FFF , 1895px 1328px #FFF , 767px 967px #FFF , 1916px 729px #FFF , 331px 174px #FFF , 1426px 713px #FFF , 734px 372px #FFF , 412px 1143px #FFF , 616px 516px #FFF , 115px 972px #FFF , 810px 1378px #FFF , 808px 502px #FFF , 174px 152px #FFF , 1204px 1523px #FFF , 1643px 1488px #FFF , 97px 1999px #FFF , 1266px 122px #FFF , 1688px 1085px #FFF , 1278px 711px #FFF , 1718px 1035px #FFF , 453px 285px #FFF , 1592px 977px #FFF , 1438px 983px #FFF , 233px 258px #FFF , 402px 78px #FFF , 1658px 42px #FFF , 1998px 1112px #FFF , 1941px 724px #FFF; }
  
  #stars2 {
    width: 2px;
    height: 2px;
    position: absolute;
    top: 80px;
    background: transparent;
    box-shadow: 1308px 654px #FFF , 520px 1773px #FFF , 1011px 605px #FFF , 1370px 809px #FFF , 609px 1656px #FFF , 387px 1353px #FFF , 1790px 1399px #FFF , 1437px 1972px #FFF , 938px 35px #FFF , 260px 1860px #FFF , 433px 486px #FFF , 510px 1497px #FFF , 1032px 1611px #FFF , 1817px 1039px #FFF , 1859px 1530px #FFF , 369px 467px #FFF , 1011px 816px #FFF , 1266px 166px #FFF , 289px 176px #FFF , 904px 1634px #FFF , 1954px 580px #FFF , 63px 1942px #FFF , 401px 35px #FFF , 796px 1773px #FFF , 696px 1950px #FFF , 1px 482px #FFF , 543px 1420px #FFF , 1511px 1476px #FFF , 1580px 1935px #FFF , 1182px 1733px #FFF , 502px 756px #FFF , 1551px 1779px #FFF , 853px 50px #FFF , 1732px 1454px #FFF , 1531px 1456px #FFF , 1845px 755px #FFF , 1124px 680px #FFF , 372px 1452px #FFF , 1269px 262px #FFF , 1711px 964px #FFF , 657px 1344px #FFF , 572px 1288px #FFF , 739px 752px #FFF , 203px 1612px #FFF , 520px 545px #FFF , 1084px 853px #FFF , 359px 1839px #FFF , 263px 313px #FFF , 340px 1623px #FFF , 1425px 1091px #FFF , 425px 270px #FFF , 1722px 562px #FFF , 1276px 179px #FFF , 36px 878px #FFF , 822px 1774px #FFF , 1305px 1903px #FFF , 1582px 1314px #FFF , 1555px 1513px #FFF , 1809px 1616px #FFF , 1625px 518px #FFF , 1682px 1025px #FFF , 1998px 1248px #FFF , 385px 323px #FFF , 1135px 225px #FFF , 503px 1977px #FFF , 248px 1452px #FFF , 314px 328px #FFF , 856px 142px #FFF , 1527px 733px #FFF , 69px 329px #FFF , 1727px 677px #FFF , 810px 1304px #FFF , 1288px 1781px #FFF , 366px 834px #FFF , 1232px 366px #FFF , 362px 1221px #FFF , 427px 65px #FFF , 854px 1862px #FFF , 258px 439px #FFF , 1603px 517px #FFF , 1009px 1300px #FFF , 1454px 1168px #FFF , 1672px 1046px #FFF , 760px 1071px #FFF , 105px 1266px #FFF , 1640px 1221px #FFF , 923px 566px #FFF , 1768px 1133px #FFF , 315px 1700px #FFF , 151px 436px #FFF , 1888px 1615px #FFF , 1px 1299px #FFF , 1239px 1226px #FFF , 99px 1433px #FFF , 1604px 1361px #FFF , 1743px 53px #FFF , 516px 1948px #FFF , 169px 1422px #FFF , 678px 1178px #FFF , 266px 1204px #FFF , 164px 1507px #FFF , 759px 1672px #FFF , 781px 1398px #FFF , 1384px 238px #FFF , 476px 1432px #FFF , 1570px 1698px #FFF , 1056px 1250px #FFF , 1122px 1847px #FFF , 1702px 6px #FFF , 767px 554px #FFF , 1839px 627px #FFF , 996px 471px #FFF , 1860px 833px #FFF , 1062px 1389px #FFF , 911px 1333px #FFF , 1580px 1034px #FFF , 711px 1051px #FFF , 1576px 214px #FFF , 1447px 1368px #FFF , 1328px 1606px #FFF , 229px 330px #FFF , 675px 1975px #FFF , 1095px 1563px #FFF , 2000px 708px #FFF , 293px 1226px #FFF , 971px 1335px #FFF , 1003px 994px #FFF , 18px 484px #FFF , 833px 1070px #FFF , 640px 227px #FFF , 413px 939px #FFF , 300px 269px #FFF , 463px 947px #FFF , 1906px 1224px #FFF , 1194px 305px #FFF , 1593px 1208px #FFF , 1496px 825px #FFF , 225px 1371px #FFF , 1923px 163px #FFF , 839px 1156px #FFF , 1155px 80px #FFF , 315px 325px #FFF , 359px 1367px #FFF , 1627px 444px #FFF , 1092px 112px #FFF , 318px 1546px #FFF , 479px 1234px #FFF , 1280px 1110px #FFF , 56px 438px #FFF , 1861px 1685px #FFF , 634px 281px #FFF , 1516px 720px #FFF , 608px 956px #FFF , 891px 1514px #FFF , 1399px 1858px #FFF , 1676px 1869px #FFF , 1377px 842px #FFF , 542px 633px #FFF , 1275px 1843px #FFF , 1237px 1094px #FFF , 1015px 1607px #FFF , 1818px 1235px #FFF , 1350px 1321px #FFF , 1086px 767px #FFF , 1894px 788px #FFF , 1661px 1544px #FFF , 843px 1946px #FFF , 1240px 755px #FFF , 1106px 961px #FFF , 442px 1003px #FFF , 546px 354px #FFF , 1916px 340px #FFF , 1840px 938px #FFF , 1988px 1524px #FFF , 1911px 121px #FFF , 1230px 1879px #FFF , 20px 1961px #FFF , 69px 1489px #FFF , 1058px 1736px #FFF , 1942px 1440px #FFF , 1216px 758px #FFF , 1293px 313px #FFF , 1663px 1105px #FFF , 1588px 1118px #FFF , 1516px 493px #FFF , 1851px 975px #FFF , 607px 1820px #FFF , 168px 860px #FFF , 887px 966px #FFF , 278px 657px #FFF , 1498px 1195px #FFF , 524px 1838px #FFF , 495px 226px #FFF , 67px 1207px #FFF , 732px 675px #FFF , 166px 1794px #FFF , 367px 1136px #FFF , 502px 1699px #FFF , 1083px 456px #FFF , 694px 1535px #FFF;
    animation: animStar 100s linear infinite; }
    #stars2:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1308px 654px #FFF , 520px 1773px #FFF , 1011px 605px #FFF , 1370px 809px #FFF , 609px 1656px #FFF , 387px 1353px #FFF , 1790px 1399px #FFF , 1437px 1972px #FFF , 938px 35px #FFF , 260px 1860px #FFF , 433px 486px #FFF , 510px 1497px #FFF , 1032px 1611px #FFF , 1817px 1039px #FFF , 1859px 1530px #FFF , 369px 467px #FFF , 1011px 816px #FFF , 1266px 166px #FFF , 289px 176px #FFF , 904px 1634px #FFF , 1954px 580px #FFF , 63px 1942px #FFF , 401px 35px #FFF , 796px 1773px #FFF , 696px 1950px #FFF , 1px 482px #FFF , 543px 1420px #FFF , 1511px 1476px #FFF , 1580px 1935px #FFF , 1182px 1733px #FFF , 502px 756px #FFF , 1551px 1779px #FFF , 853px 50px #FFF , 1732px 1454px #FFF , 1531px 1456px #FFF , 1845px 755px #FFF , 1124px 680px #FFF , 372px 1452px #FFF , 1269px 262px #FFF , 1711px 964px #FFF , 657px 1344px #FFF , 572px 1288px #FFF , 739px 752px #FFF , 203px 1612px #FFF , 520px 545px #FFF , 1084px 853px #FFF , 359px 1839px #FFF , 263px 313px #FFF , 340px 1623px #FFF , 1425px 1091px #FFF , 425px 270px #FFF , 1722px 562px #FFF , 1276px 179px #FFF , 36px 878px #FFF , 822px 1774px #FFF , 1305px 1903px #FFF , 1582px 1314px #FFF , 1555px 1513px #FFF , 1809px 1616px #FFF , 1625px 518px #FFF , 1682px 1025px #FFF , 1998px 1248px #FFF , 385px 323px #FFF , 1135px 225px #FFF , 503px 1977px #FFF , 248px 1452px #FFF , 314px 328px #FFF , 856px 142px #FFF , 1527px 733px #FFF , 69px 329px #FFF , 1727px 677px #FFF , 810px 1304px #FFF , 1288px 1781px #FFF , 366px 834px #FFF , 1232px 366px #FFF , 362px 1221px #FFF , 427px 65px #FFF , 854px 1862px #FFF , 258px 439px #FFF , 1603px 517px #FFF , 1009px 1300px #FFF , 1454px 1168px #FFF , 1672px 1046px #FFF , 760px 1071px #FFF , 105px 1266px #FFF , 1640px 1221px #FFF , 923px 566px #FFF , 1768px 1133px #FFF , 315px 1700px #FFF , 151px 436px #FFF , 1888px 1615px #FFF , 1px 1299px #FFF , 1239px 1226px #FFF , 99px 1433px #FFF , 1604px 1361px #FFF , 1743px 53px #FFF , 516px 1948px #FFF , 169px 1422px #FFF , 678px 1178px #FFF , 266px 1204px #FFF , 164px 1507px #FFF , 759px 1672px #FFF , 781px 1398px #FFF , 1384px 238px #FFF , 476px 1432px #FFF , 1570px 1698px #FFF , 1056px 1250px #FFF , 1122px 1847px #FFF , 1702px 6px #FFF , 767px 554px #FFF , 1839px 627px #FFF , 996px 471px #FFF , 1860px 833px #FFF , 1062px 1389px #FFF , 911px 1333px #FFF , 1580px 1034px #FFF , 711px 1051px #FFF , 1576px 214px #FFF , 1447px 1368px #FFF , 1328px 1606px #FFF , 229px 330px #FFF , 675px 1975px #FFF , 1095px 1563px #FFF , 2000px 708px #FFF , 293px 1226px #FFF , 971px 1335px #FFF , 1003px 994px #FFF , 18px 484px #FFF , 833px 1070px #FFF , 640px 227px #FFF , 413px 939px #FFF , 300px 269px #FFF , 463px 947px #FFF , 1906px 1224px #FFF , 1194px 305px #FFF , 1593px 1208px #FFF , 1496px 825px #FFF , 225px 1371px #FFF , 1923px 163px #FFF , 839px 1156px #FFF , 1155px 80px #FFF , 315px 325px #FFF , 359px 1367px #FFF , 1627px 444px #FFF , 1092px 112px #FFF , 318px 1546px #FFF , 479px 1234px #FFF , 1280px 1110px #FFF , 56px 438px #FFF , 1861px 1685px #FFF , 634px 281px #FFF , 1516px 720px #FFF , 608px 956px #FFF , 891px 1514px #FFF , 1399px 1858px #FFF , 1676px 1869px #FFF , 1377px 842px #FFF , 542px 633px #FFF , 1275px 1843px #FFF , 1237px 1094px #FFF , 1015px 1607px #FFF , 1818px 1235px #FFF , 1350px 1321px #FFF , 1086px 767px #FFF , 1894px 788px #FFF , 1661px 1544px #FFF , 843px 1946px #FFF , 1240px 755px #FFF , 1106px 961px #FFF , 442px 1003px #FFF , 546px 354px #FFF , 1916px 340px #FFF , 1840px 938px #FFF , 1988px 1524px #FFF , 1911px 121px #FFF , 1230px 1879px #FFF , 20px 1961px #FFF , 69px 1489px #FFF , 1058px 1736px #FFF , 1942px 1440px #FFF , 1216px 758px #FFF , 1293px 313px #FFF , 1663px 1105px #FFF , 1588px 1118px #FFF , 1516px 493px #FFF , 1851px 975px #FFF , 607px 1820px #FFF , 168px 860px #FFF , 887px 966px #FFF , 278px 657px #FFF , 1498px 1195px #FFF , 524px 1838px #FFF , 495px 226px #FFF , 67px 1207px #FFF , 732px 675px #FFF , 166px 1794px #FFF , 367px 1136px #FFF , 502px 1699px #FFF , 1083px 456px #FFF , 694px 1535px #FFF; }
  
  #stars3 {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 80px;
    background: transparent;
    box-shadow: 1837px 166px #FFF , 616px 1601px #FFF , 479px 902px #FFF , 1116px 1027px #FFF , 59px 718px #FFF , 1630px 606px #FFF , 1283px 1512px #FFF , 840px 1859px #FFF , 646px 56px #FFF , 1225px 1695px #FFF , 760px 390px #FFF , 886px 685px #FFF , 494px 426px #FFF , 255px 1649px #FFF , 1367px 1061px #FFF , 1925px 274px #FFF , 752px 177px #FFF , 955px 1256px #FFF , 1164px 1207px #FFF , 25px 932px #FFF , 56px 738px #FFF , 1263px 1170px #FFF , 1432px 1668px #FFF , 1757px 198px #FFF , 1474px 1444px #FFF , 1245px 1359px #FFF , 1569px 393px #FFF , 1268px 1424px #FFF , 236px 620px #FFF , 1837px 1530px #FFF , 497px 356px #FFF , 359px 235px #FFF , 819px 1175px #FFF , 1709px 612px #FFF , 681px 1404px #FFF , 687px 626px #FFF , 187px 1697px #FFF , 798px 136px #FFF , 1855px 1634px #FFF , 210px 1543px #FFF , 63px 848px #FFF , 1476px 1120px #FFF , 1641px 184px #FFF , 206px 1049px #FFF , 1208px 1312px #FFF , 656px 909px #FFF , 750px 1019px #FFF , 1875px 718px #FFF , 162px 757px #FFF , 1081px 230px #FFF , 882px 1791px #FFF , 1244px 925px #FFF , 1765px 310px #FFF , 102px 1426px #FFF , 1730px 573px #FFF , 1500px 1938px #FFF , 1634px 1848px #FFF , 1096px 166px #FFF , 1804px 1925px #FFF , 38px 837px #FFF , 721px 1650px #FFF , 1816px 1804px #FFF , 1392px 427px #FFF , 1920px 1917px #FFF , 536px 1845px #FFF , 15px 1236px #FFF , 457px 1686px #FFF , 1548px 667px #FFF , 798px 1584px #FFF , 70px 604px #FFF , 487px 685px #FFF , 497px 717px #FFF , 1065px 1463px #FFF , 580px 289px #FFF , 1419px 852px #FFF , 108px 1348px #FFF , 1139px 1668px #FFF , 1693px 1518px #FFF , 1583px 1342px #FFF , 840px 827px #FFF , 1776px 548px #FFF , 771px 1363px #FFF , 1800px 1044px #FFF , 712px 894px #FFF , 436px 1872px #FFF , 1997px 1398px #FFF , 474px 1433px #FFF , 213px 1904px #FFF , 618px 1041px #FFF , 1696px 154px #FFF , 220px 564px #FFF , 1633px 1567px #FFF , 581px 185px #FFF , 1851px 375px #FFF , 1162px 540px #FFF , 774px 324px #FFF , 567px 545px #FFF , 1787px 769px #FFF , 646px 32px #FFF , 1257px 43px #FFF;
    animation: animStar 150s linear infinite; }
    #stars3:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1837px 166px #FFF , 616px 1601px #FFF , 479px 902px #FFF , 1116px 1027px #FFF , 59px 718px #FFF , 1630px 606px #FFF , 1283px 1512px #FFF , 840px 1859px #FFF , 646px 56px #FFF , 1225px 1695px #FFF , 760px 390px #FFF , 886px 685px #FFF , 494px 426px #FFF , 255px 1649px #FFF , 1367px 1061px #FFF , 1925px 274px #FFF , 752px 177px #FFF , 955px 1256px #FFF , 1164px 1207px #FFF , 25px 932px #FFF , 56px 738px #FFF , 1263px 1170px #FFF , 1432px 1668px #FFF , 1757px 198px #FFF , 1474px 1444px #FFF , 1245px 1359px #FFF , 1569px 393px #FFF , 1268px 1424px #FFF , 236px 620px #FFF , 1837px 1530px #FFF , 497px 356px #FFF , 359px 235px #FFF , 819px 1175px #FFF , 1709px 612px #FFF , 681px 1404px #FFF , 687px 626px #FFF , 187px 1697px #FFF , 798px 136px #FFF , 1855px 1634px #FFF , 210px 1543px #FFF , 63px 848px #FFF , 1476px 1120px #FFF , 1641px 184px #FFF , 206px 1049px #FFF , 1208px 1312px #FFF , 656px 909px #FFF , 750px 1019px #FFF , 1875px 718px #FFF , 162px 757px #FFF , 1081px 230px #FFF , 882px 1791px #FFF , 1244px 925px #FFF , 1765px 310px #FFF , 102px 1426px #FFF , 1730px 573px #FFF , 1500px 1938px #FFF , 1634px 1848px #FFF , 1096px 166px #FFF , 1804px 1925px #FFF , 38px 837px #FFF , 721px 1650px #FFF , 1816px 1804px #FFF , 1392px 427px #FFF , 1920px 1917px #FFF , 536px 1845px #FFF , 15px 1236px #FFF , 457px 1686px #FFF , 1548px 667px #FFF , 798px 1584px #FFF , 70px 604px #FFF , 487px 685px #FFF , 497px 717px #FFF , 1065px 1463px #FFF , 580px 289px #FFF , 1419px 852px #FFF , 108px 1348px #FFF , 1139px 1668px #FFF , 1693px 1518px #FFF , 1583px 1342px #FFF , 840px 827px #FFF , 1776px 548px #FFF , 771px 1363px #FFF , 1800px 1044px #FFF , 712px 894px #FFF , 436px 1872px #FFF , 1997px 1398px #FFF , 474px 1433px #FFF , 213px 1904px #FFF , 618px 1041px #FFF , 1696px 154px #FFF , 220px 564px #FFF , 1633px 1567px #FFF , 581px 185px #FFF , 1851px 375px #FFF , 1162px 540px #FFF , 774px 324px #FFF , 567px 545px #FFF , 1787px 769px #FFF , 646px 32px #FFF , 1257px 43px #FFF; }
  
  @keyframes animStar {
    from {
      transform: translateY(0px); }
    to {
      transform: translateY(-2000px); } }
  
  