
.historyContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.historyMonth {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.history-itemList {
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    margin-top: 1rem;
    cursor: pointer;
}
.history-itemList:hover{
    background-color: #e0fffa;
}

.history-itemInfo {
    display: flex;
    flex-direction: column;
}

.history-item1 {
    /* text-transform: uppercase; */
    color:rgb(255, 174, 0);
    margin-left: 30px;
}

.history-item2 {
    /* text-transform: uppercase; */
    color:rgb(149, 157, 165);
    margin-left: 30px;
    margin-top: 0.5rem;
}

.history-itemBox {
    height: 100%;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 10rem;
    justify-content: center;
    text-shadow: 1px 1px 2px rgb(113, 113, 113);
}

.history-itemList i {
    font-size: 20px;
    color: rgb(113, 113, 113);
    transition: 0.1s ease-in;
}

.history-itemList i:hover {
    color: rgb(253, 13, 13);
}
.historyMonth h3{
    color: #0051ff;
}
.history-modal {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

.modal-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.historyContainer a{
    text-decoration: none;
    color: #f8b72d;
}
.historyContainer a:hover{
    text-decoration: none;
    color: #ff4000;
}
.modal-button {
    width: 40%;
    height: 50px;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.modal-button:hover {
    background: #94e5ff;
    color: white;
}

.modal-prompt {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 620px) {
    .history-itemList {
        flex-direction: column;
        height: 150px;
        align-items: center;
        justify-content: center;
    }
    .history-itemBox {
        width: 100%;
        height: 50px;
    }
    .trashIcon {
        position: static;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    .history-item1 {
        /* text-transform: uppercase; */
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
    }
    
    .history-item2 {
        /* text-transform: uppercase; */
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
}
