.Title {
  color: #0c326f;
  margin-bottom: 10px;
  font-size: 2rem;
}
.inputField {
  display: grid;
  gap: 1rem;
}
.transactionForm {
  margin: 0px 30px 30px 30px;
}

.transactionForm h1{
  margin-bottom: 2rem;
}

.Input-text {
  width: 20rem;
  padding: 5px 10px;
  display: block;
  margin: 0;
  color: rgb(72, 251, 2);
  font-size: 1rem;
  line-height: 1.8;
  border: solid 0.1px #d5d5d5;
  transition: box-shadow 300ms;
}
.titleName{
  color: #0c326f
}
.Input-text::placeholder {
  color: #b0bec5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #bdbdbd;
}

.dropdown-input {
  width: 20rem;
  padding: 10px 10px;
  display: block;
  margin: 0;
  color: #0998e0;
  font-size: 1rem;
  line-height: 1.8;
  border: solid 0.1px #d5d5d5;
  transition: box-shadow 300ms;
}

.button-62 {
  background: linear-gradient(to bottom right, #edb546, #ca1ffe);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.1rem -0.1rem 0.5rem rgba(252, 154, 63, 0.98),
    0.125rem 0.125rem 1rem rgba(149, 22, 253, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.1rem -0.1rem 0.5rem rgba(252, 154, 63, 0.98),
    0.125rem 0.125rem 1rem rgba(149, 22, 253, 0.5);
}

.Input-date {
  width: 20rem;
  padding: 5px 10px;
  display: block;
  margin: 0;
  font-size: 1rem;
  line-height: 1.8;
  border: solid 0.1px #d5d5d5;
  transition: box-shadow 300ms;
}