.Section-container{
    width: 100vw;
    background: #5e9b9a;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.Section-container h1{
    font-size: 3em;
    margin: 1em;
    text-align: center;
    color: #e8dec6;
}
.inner-container{
    width: 80%;
    height: 400px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    margin: 4rem 0;
}
.chartHome{
    background-position: center;
    background-repeat: no-repeat;
}
.left-panel-section{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-panel-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.right-panel-section h1, p{
    margin: 10px 30px;
}
.right-panel-section h1{
    font-size: 25px;
    color: #e8aa0d;
}

.right-panel-section p{
    font-size: 15px;
    font-style: italic;
    color: #a0884c;
}

.imageChart{
    margin: 20px 0;
}

.left-panel-section-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.right-panel-section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.left-panel-section-2 h1{
    font-size: 25px;
    color: #e8aa0d;
}

.left-panel-section-2 p{
    font-size: 15px;
    font-style: italic;
    color: #a0884c;
}
.Section-container a{
    text-decoration: none;
    padding: 10px;
    border: solid 2px #e8dec6;
    color: #e8dec6;
    transition: .2s ease-in-out;
}
.Section-container a:hover{
    background-color: #a0884c;
}
@media screen and (max-width: 900px){
    .Section-container h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .inner-container{
        flex-direction: column;
        height: 100%;
    }
    .imageChart{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left-panel-section,
    .left-panel-section-2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-panel-section,
    .right-panel-section-2{
       padding: 10px;
       align-items: center;
       justify-content: center;
    }
   
}

@media screen and (max-width: 470px){
    .chartHome{
        width: 80%;
    }
}