.card h1{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 5px;
    color: #cea931;
}
.card h2{
    font-weight: 500;
    font-size: 20px;
    color: rgb(86, 85, 85);
}
.card h3{
    font-weight: 500;
    font-size: 14px;
}
.card h4{
    font-weight: 500;
    font-size: 14px;
    color: darkgray;
}
.card p{
    font-size: 15px;
    font-style: italic;
    color: rgb(74, 74, 74);
    font-family: 'PT Mono';
    margin: 10px 0;
}

.card{
    position: relative;
    background-color: #fff;
    width: 350px;
    height: 220px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.35);
    border-radius: 15px;
    transition: all .3s ease-in-out;
    margin: 2rem;
    cursor: pointer;
}
.card:hover{
    height: 500px;
}
.pb{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-50%,0%);
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
.pb img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover .pb{
    height: 200px;
    width: 200px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0px 10px 0px ;
    transition: all .3s ease-in-out;
}
.card:hover .info{
    display: flex;
    padding-top: 220px;
}
.detail{
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10;
    justify-content: space-between;
    padding: 10px 50px;
    transform: translateX(-20px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.2s, 0.2s;
    transition-property: z-index, opacity, transform;
    transition-delay: .2s, 0s, 0s;
}
.buttons{
    position: relative;
    display: flex;
    opacity: 0;
    z-index: -10px;
    padding: 10px 50px;
    justify-content: space-between;
    transform: translateX(-20px);
    transition-timing-function: linear;
    transition-duration: 0s, 0.2s, 0.2s;
    transition-property: z-index, opacity, transform;
    transition-delay: .2s, 0s, 0s;
}
button{
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.follow{
    background-color: #faecc9;
    border:1px solid #faecc9;
    color: rgb(223, 172, 30);
    font-weight: 500;
    transition: all .3s linear;
}
.follow:hover{
    background-color: #ff7300;
    color: white;
}
.message{
    background-color: transparent;
    border: 1px solid #faecc9;
    font-weight: 500;
    transition: all .3s linear;
    color: rgb(223, 172, 30);
}
.message:hover{
    color: #fff;
    background-color: rgb(223, 172, 30);
}
.card:hover .detail,
.card:hover .buttons{
    opacity:1;
    z-index: 0;
    transform: translateX(0px);
    transition-timing-function: linear;
    transition-duration: 0s, .3s, .3s;
    transition-property: z-index, opacity, transform;
    transition-delay: 0s, .2s, .2s;
}

@media screen and (max-width: 450px){
    .card{
        width: 100%;
    }
    .card h1{
        font-size: 25px;
       
    }
    .card h2{
        font-size: 12px;
        color: #ff7300;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    .pb{
        height: 100px;
        width: 100px;
    }
    .info{
        padding: 85px 0px 10px 0px ;
    }
    .card:hover .pb{
        height: 150px;
        width: 150px;
    }
    .card:hover .info{
        display: flex;
        padding-top: 150px;
    }
    .buttons{
        flex-direction: column;
        gap: 5px;
    }
    .detail{
        padding: 5px 20px;
        text-align: center;
    }
  }